<p id="notice"><%= notice %></p>
<div class="container">
  <div class= "row">
    <div class="col-md-4 img-thumbnail">
        <p>
          <strong>name:</strong>
          <%= @pin.name %>
        </p>

        
        <p>
          <strong>Descripcion:</strong>
          <%= @pin.description %>
        </p>


        <p>
          <strong>Photo:</strong>
          <%= image_tag(@pin.photo, :class => "img-fluid") %>
        </p>
        
        <% if user_signed_in? %>
          <%= link_to 'Editar', edit_pin_path(@pin), :class => "btn btn-secondary" %>
        <% end %>
    </div>
    
  </div>
  <p> <%= link_to 'Regresar', pins_path %> | <%= link_to 'Mas pins del mismo usuario', pinsof_path(@pin.user.id) %></p>
</div>


